.header{
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.div{
  width: auto;
  height: auto;

  display: flex;
  align-items: center;


  border-radius: 50%;
  padding: 2px;
  background-image: linear-gradient(75deg, rgb(60, 196, 196) 10%, rgb(77, 212, 140) 100%);
}
.header img{
  width: 140px;
  border-radius: 50%;

}