.header{
  display: flex;
  justify-content: space-between;

  width: 100%;
  background-color: rgb(27, 28, 28);

  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgb(34, 188, 162);

  margin-bottom: 1.4rem;
}

.div{
  width: auto;
  height: auto;

  display: flex;
  align-items: center;


  border-radius: 50%;
  padding: 2px;
  background-image: linear-gradient(75deg, rgb(60, 196, 196) 10%, rgb(77, 212, 140) 100%);
}
.header img{
  width: 140px;
  border-radius: 50%;

}